{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        {{bar_chart.render()|safe}}
    </div>
    <div class="col-sm-4">
    	<div class="row-sm-8">
	        <ul class="list-group"> Questions:
	        {%for question in questions%}
	            <li class="list-group-item">{{question}}   <a href="#" class="btn btn-primary" action>Dismiss</a></li>
	        {%endfor%}
	        </ul>
	    </div>
        <div class="row-sm-4">
        	{{pie_chart.render()|safe}}	
        </div>
        
    </div>
</div>

{% endblock %}
